sudo systemctl stop solv
sudo rm -rf /mnt/snapshot/*
sudo find /mnt/ledger/ -mindepth 1 -not -name 'contact-info.bin' -delete
cd /mnt/snapshot && wget --trust-server-names {{ snapshot_url }}/snapshot.tar.bz2 && wget --trust-server-names {{ snapshot_url }}/incremental-snapshot.tar.bz2
sudo systemctl start solv