name = "solv"
user = "solv"
scratch_directory = "/home/{user}"
dynamic_port_range = "8900-9000"

[log]
    path = "/home/solv/solana-validator.log"
    colorize = "auto"
    level_logfile = "INFO"
    level_stderr = "NOTICE"
    level_flush = "WARNING"

[rpc]
    port = 8899
    full_api = false
    private = false
    only_known = false

[reporting]
    solana_metrics_config = "host=https://metrics.solana.com:8086,db=tds,u=testnet_write,p=c4fa841aa918bf8274e3e2a44d77568d9861b3ea"

[ledger]
    path = "/mnt/ledger"
    accounts_path = "/mnt/accounts"
    limit_size = 100_000_000
    account_indexes = []
    account_index_exclude_keys = []
    snapshot_archive_format = "zstd"
    require_tower = false

[snapshots]
    incremental_snapshots = true
    full_snapshot_interval_slots = 25000
    incremental_snapshot_interval_slots = 100
    path = "/mnt/snapshot"

[gossip]
    entrypoints = [
      "entrypoint.testnet.solana.com:8001",
      "entrypoint2.testnet.solana.com:8001",
      "entrypoint3.testnet.solana.com:8001",
    ]
    port_check = false

[consensus]
    identity_path = "/home/solv/identity.json"
    vote_account_path = "{{ vote_account }}"
    snapshot_fetch = true
    genesis_fetch = true
    expected_genesis_hash = "4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY"
    expected_bank_hash = "6A7U1X8WqnWRXWtqaxF15sSYHLT66j1ycBEyFigGwr2Z"
    expected_shred_version = 64475

[hugetlbfs]
    mount_path = "/mnt"
    max_page_size = "huge"

[layout]
     affinity = "auto"
     agave_affinity = "auto"
     verify_tile_count = 1
     bank_tile_count = 1

[tiles.gui]
    enabled = true
    gui_listen_port = 6001
    gui_listen_address = "0.0.0.0"

[tiles.metric]
    prometheus_listen_address = "0.0.0.0"
    prometheus_listen_port = 7999


[tiles.bundle]
    enabled = true
    url = "https://testnet.block-engine.jito.wtf"
    tip_distribution_program_addr = "F2Zu7QZiTYUhPd7u9ukRVwxh7B71oA3NMJcHuCHc29P2"
    tip_payment_program_addr = "GJHtFqM9agxPmkeKjHny6qiRKrXZALvvFGiKf11QE7hy"
    tip_distribution_authority = "GZctHpWXmsZC1YHACTGGcHhYxjdRqQvTpYkb9LMvxDib"
    commission_bps = 10000