sudo systemctl stop solv
sudo rm -rf /mnt/snapshot/*
sudo find /mnt/ledger/ -mindepth 1 -not -name 'contact-info.bin' -delete
cd /mnt/snapshot && aria2c -x16 -s16 --force-sequential=true https://snapshots.avorio.network/testnet/snapshot.tar.bz2 https://snapshots.avorio.network/testnet/incremental-snapshot.tar.bz2
sudo systemctl start solv